## User settings
FoodTruck Trackr/Pods/Pods.xcodeproj/xcuserdata/
FoodTruck Trackr/FoodTruck Trackr.xcworkspace/xcuserdata/
FoodTruck Trackr/FoodTruck Trackr.xcodeproj/xcuserdata/
FoodTruck Trackr/.DS_Store
FoodTruck Trackr/FoodTruck Trackr/.DS_Store
